.dashboard {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);

  &__introduction {
    font-size: 40px;
    color: #ffffff;
    text-align: center;
  }
}